body{
	background: rgb(155, 155, 155);
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8rem;
	background: #fff;
    color: #000;
    padding: 5px 10%;
    width: 70rem;
}

.logo{
	width: 100px;
	height: 100px;
}
.nav-bar__link{
	text-decoration: none;
   color: #000;
   padding: 1px 10px;	
   transition: all 2s ease;
}
.nav-bar__link:hover{
	border: none;
	border-radius: 10px;
	background: #90de;
}
.manuel{
	width: 17rem;
	height: 17rem;
	position: absolute;
	margin: 10% 50rem;
	border-radius: 80%;
}
.titulo{
	margin-bottom: 10px;
	color: #000;
	text-align: center;
}